<link rel="stylesheet" href="./src/css/login.css">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="fundo">

  <form action="" id="form">
    <label for="">Nome
      <input type="text" id="nome">
      </label>
    <label for="">E-mail
    <input type="email" id="email">
    </label>
    <label for="">Senha
      <input type="password" id="senha">
      </label>
    
      <label for="">Confirmar Senha
        <input type="password" id="senha2">
        </label>

    <button>Entrar</button>

    <span>Já possui uma conta?</span>
    <a href="login.html">Faça login Aqui</a>
  </form>

</div>


<script>

  const form = document.getElementById('form');
  form.addEventListener('submit', (event) => {
    event.preventDefault();
    var email = document.getElementById('email').value;
    var senha = document.getElementById('senha').value;
    var senha2 = document.getElementById('senha2').value;
    var nome = document.getElementById('nome').value;
  
    var users = localStorage.getItem('USERS');
    var nextUsers = [];
    if (users) {
      users = JSON.parse(users);
      nextUsers = users;
      var hasAny = users.filter(u => u.email == email);
      if (hasAny.length > 0) {
        alert("Este e-mail ja está cadastrado!")
        return;
      }
    }
    else if (senha != senha2) {
      alert("As senhas devem ser iguais")
      return;
    }

    nextUsers.push({
      id: nextUsers.length + 1,
      email: email,
      password: senha
    })

    localStorage.setItem('USERS', JSON.stringify(nextUsers))
    window.location.href = window.location.origin + "/login.html";
  })
  
  </script>