<link rel="stylesheet" href="./src/css/login.css">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="fundo">

  <form id="form">
    <label for="">E-mail
    <input type="email" id="email">
    </label>
    <label for="">Senha
      <input type="password" id="senha">
      </label>

    <button>Entrar</button>

    <span>Não possui uma conta?</span>
    <a href="cadastro.html">Cadastre-se Aqui</a>
  </form>

</div>



<script>

const form = document.getElementById('form');
form.addEventListener('submit', (event) => {
  event.preventDefault();
  var email = document.getElementById('email').value;
  var senha = document.getElementById('senha').value;


  var users = localStorage.getItem('USERS');
  if (users) {
    users = JSON.parse(users);
    var user = users.filter(u => u.email == email && u.password == senha);
    if (user.length == 0) {
      alert("Email ou senha incorretos")
      return
    }

    sessionStorage.setItem("USER", JSON.stringify(user[0]));
    
    window.location.href = window.location.origin + "/home.html";
  }
  else {
    alert("Email ou senha incorretos")
    return
  }
})

</script>