chart {
    display: flex;
}
chart
chart-label {
    width: 200px;
    height: 100%;
}

summary-chart {
    width: 100%;
    max-width: 1200px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}

pomodoro-chart {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 200px;
    display: flex;
    align-items: center;
}
pomodoro-lines {
    width: 79.31034482758621%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
pomodoro-finish-line {
    width: 20.68965517241379%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    right: 0;
}
pomodoro-finish-line-item {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
pomodoro-line-item {
    height: 100%;
    width: 3.44%;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

pomodoro-bar-container {
    width: 100%;
    height: 80%;
    border: 1px solid black;
    display: flex;
}
pomodoro-bar {
    width: 0%;
    height: 100%;
    background-color: #8bc34a;
    z-index: 1;
}
pomodoro-blue-bar {
    width: 100%;
    height: calc(80% - 2px);
    background-color: #2196f3;
    z-index: 2;
}
pomodoro-white-bar {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 3;
}


summary-chart-left {
    width: 80%;
    height: 90%;
    display: flex;
    position: relative;
}

summary-chart-bottom {
    width: 100%;
    height:10%;
    display: flex;
    position: relative;
}
summarychart-component {
    width: 100%;
    height: 100%;
    position: relative;
}

chart-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    
    border-left: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
chart-line-item {
    width: 1px;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

clock-time {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
}


chart-hour {
    position: absolute;
}


chart-bar {
    position: absolute;
    border-radius: 50px;
    transition: 0.2s;
}
chart-bar:hover {
    transform: scale(1.05);
    z-index: 5;
}
chart-bar:hover::after ,
chart-bar:hover::before{
    display: flex;
}

chart-bar::after{
    position: absolute;
    content: attr(data-description);
    top: 25px;
    z-index: 1000;
    border-radius: 15px;
    
    width: 100px;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(27, 27, 27);
}
chart-bar::before {
    display: none;
    content: "";
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 19px;
    border-bottom: 20px solid rgb(27, 27, 27);
}

summary-chart-right {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 10px;
}

chart-label {
    padding-left: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}


label-color {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

chart-info {
    width: 100%;
    display: flex;
    padding-right: 20%;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
}

chart-info h3 {
    width: auto;
}
chart-info chart-pages {
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
chart-info chart-pages button {
    width: 32px;
    height: 32px;
    padding-top: 1px !important ;
}
chart-info chart-pages span {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 10px;
}


@media (max-width: 901px) {
    chart-info {
        padding-right: 0;
    }
    summary-chart-left {
        order: 1;
        width: 100%;
    }
    summary-chart-bottom {
        order: 2;
        width: 100%;
        font-size: 13px;
    }
    summary-chart-right {
        order: 3;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;

    }
    chart-label {
        width: auto;
    }
   
}

@media (max-width: 560px) {
    summary-chart-bottom {
        font-size: 9px;
    }
}