header {
    height: var(--headerHeight);
    width: 100%;
    background-color: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    z-index: 100000;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    padding: 0 30px;
}
#header-logo {
    height: 50px;
    width: 50px;
}
header nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    justify-content: flex-end;
    z-index: 2;

}
header nav a {
    color: white;
    display: block;
    padding: 0 20px;
    text-decoration: none !important;
    transition: 0.5s;
}

header nav a:hover {
    color: rgb(61, 61, 61);
}

header #header-bars {
    height: var(--headerHeight);
    width: var(--headerHeight);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
header #header-bars.open {
    animation: header-bars-spin 0.5s;    
}
header #header-bars.closed {
    animation: header-bars-spin-reverse 0.5s;    
}
header #header-filter {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(100vh - var(--headerHeight));
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 998;
}
header #header-filter.open {
    display: flex;
}


@keyframes header-bars-spin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: rotate(180deg) scale(1);
    }
}

@keyframes header-bars-spin-reverse {
    0% {
        transform: rotate(0) scale(0.8);
    }

    100% {
        transform: rotate(180deg) scale(1);
    }
}

@media (max-width: 770px) {
    
    header nav {
        left: -300px;
        z-index: 999;
        transition: 0.5s;
        -webkit-box-shadow: 7px 2px 5px -4px rgba(0,0,0,0.3);
        -moz-box-shadow: 7px 2px 5px -4px rgba(0,0,0,0.3);
        box-shadow: 7px 2px 5px -2px rgba(0,0,0,0.3);

        background-color: var(--seccondary);
        position: absolute;
        flex-direction: column;
        width: 230px;
        height: calc(100vh - var(--headerHeight));
        top: var(--headerHeight);

        justify-content: flex-start;
        align-items: flex-start;
    }

    header nav.open {
        left: 0;
    }

    header nav a {
        color: white !important;
        display: block;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        text-decoration: none !important;
    }
    header nav a {
        height: auto;
        padding: 20px;
        width: 100%;
        font-size: 18px;
        display: flex;
        justify-content: flex-start;
    }

    header #header-bars {
        display: flex;
    }

    header {
        padding: 0 10px;
    }
}