* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Baloo Tamma 2', cursive;
  scroll-behavior: smooth;
}


.homeNav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  box-shadow: 0 3px 6px #38383836;
}
left, right {
  display: flex;
  align-items: center;
}
#header-logo {
  margin-right: 10px;
  width: 50px;
}

.homeNav nav {
  display: flex;
  justify-content: flex-end;
}
.homeNav nav a {
  text-decoration: none;
  font-size: 18px;
  margin-right: 15px;
  color: black;
}



.apresentacao {
  background: url(https://www.lumiun.com/blog/wp-content/uploads/2017/01/gerenciamento-tempo-equipe-como-produzir-mais-em-menos-tempo-uso-da-internet-controle-de-acesso-para-colaboradores-1.jpg);
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.apresentacao::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.apt-text {
  color: white;
  left: 100px;
  bottom: 100px;
  z-index: 5;
  position: absolute;
}

section h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

section {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:  20px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 5px;
  margin: 20px;
}

article img {
  width: 100px;
}
article b {
  font-size: 18px;
}
.sobre-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 50px;
}
.sobre-info span {
  float: left;
  max-width: 500px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.sobre-info img{
  max-width: 500px;
  width: 100%;
  float: right;
}

footer {
  width: 100%;
  background-color: white;
  border-top: 2px solid rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
  padding: 20px 50px 50px 50px;
  flex-wrap: wrap;

}

footer nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 30px;
}
footer nav a {
  
}

footer #contato {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-top: 30px;
}
#contato label {
  display: flex;
  flex-direction: column;
}

form input {
  width: 100%;
  border: 2px solid rgba(0,0,0,0.6);
  border-radius: 5px;
  outline: none;
  padding: 0 5px;
  height: 40px;
}
form label {
  margin: 7px 0;
  width: 90%;
}

form input:hover {
  border: 2px solid #2f328f;
}
form input:focus {
  border: 2px solid #2f328f;
  box-shadow: 0 0 10px #2f328f;
}

form button {
  width: 90%;
  border: none;
  background-color: #2f328f;
  border-radius: 5px;
  padding: 8px 0;
  margin-top: 30px;
  color: white;
}

form span {
  margin-top: 30px;
}

.cpr {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
}

.redes {
  width: 200px;
  margin-top: 30px;
}
.icons i{
  margin-right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.icons i.fa-facebook-f:hover{ 
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: white;
}


.icons i.fa-instagram:hover{ 
  background-color: #ff3684;
  border: 1px solid #ff3684;
  color: white;
}

.icons i.fa-twitter:hover{ 
  background-color: #1DA1F2;
  border: 1px solid #1DA1F2;
  color: white;
}

.icons i.fa-envelope:hover{ 
  background-color: #D44638;
  border: 1px solid #D44638;
  color: white;
}



@media (max-width: 800px){
  .homeNav nav a{
    font-size: 15px;
  }
  .homeNav {
    padding: 10px;
  }

  .apt-text {
    left: 20px;
  }
}