* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Baloo Tamma 2', cursive;
  scroll-behavior: smooth;
}

.fundo {
  width: 100vw;
  height: 100vh;
  background: url(https://www.itl.cat/pngfile/big/111-1111468_tempo-time-basis.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fundo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0,0.5);
  z-index: 1;
}

form {
  width: 300px;
  background-color: white;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
form input {
  width: 100%;
  border: 2px solid rgba(0,0,0,0.6);
  border-radius: 5px;
  outline: none;
  padding: 0 5px;
  height: 40px;
}
form label {
  margin: 7px 0;
  width: 90%;
}

form input:hover {
  border: 2px solid #f9851f;
}
form input:focus {
  border: 2px solid #f9851f;
  box-shadow: 0 0 10px #f9851f;
}

form button {
  width: 90%;
  border: none;
  background-color: #f9851f;
  border-radius: 5px;
  padding: 8px 0;
  margin-top: 30px;
  color: white;
}

form span {
  margin-top: 30px;
}