* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', cursive;
}

:root {
    --primary: #f9851f !important;
    --primaryContrast: #e4791c !important;
    --seccondary: #ff9d47 !important;
    --defaultGray: #707070;
    --mobileWidth: 768px;
    --tabletWidth: 901px;
    --headerHeight: 60px;

}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 10px 0;
    width: 100%;
    font-weight: 100;
    color: var(--defaultGray);
}
.info-span {
    color: var(--defaultGray);
}
.mobile {
    display: none !important;
}
.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0 !important;
}

.default-button, .default-input {
    padding: 3px 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    transition: 0.3s;
}
.default-button:hover {
    background-color: var(--primary);
    color: white;
}
.default-input {
    padding: 0 20px;
    margin-right: 10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=time] {
  -moz-appearance: textfield;
}

.linear-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
}
#timers {
    display: flex;
    flex-direction: column;
}
.timer-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.timer-item span {
    margin-right:10px;
}
.timer-title {
    padding: 3px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 5px;
    background-color: rgb(110, 110, 110);
}
.timer-time {
    width: 60px;
    display: flex;
    justify-content: center;
}
.timer-button {
    border-radius: 50px;
    width: 31px;
    height: 31px;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.timer-button:hover {
    background-color: var(--primary);
    color: white;
}
.timer-item {
    width: 100%;
}

.tw-btn-cancel {
    height: 37px;
    padding: 10px;
    background-color: #b8b8b8;
    color: white;
    border: none;
    border-radius: 5px;
}
.tw-btn-primary {
    height: 37px;
    padding: 10px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
}

#pomodoro-time {
    font-size: 25px;
    margin-right: 10px;
    color: #909090
}

info-tag {
    width: 30px;
    height: 30px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--primary);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 50;
}
info-tag:hover {
    background-color: var(--primary);
    color: white;
}
info-tag:hover::before, info-tag:hover::after {
    display: flex;
}
info-tag::before {
    content: attr(data-content);
    position: absolute;
    top: 50px;
    max-width: 400px;
    width: 100vw;
    display: none;
    justify-content: center;
    align-self: center;
    color: var(--defaultGray);
    box-sizing: initial;
    border: 1px solid var(--defaultGray);
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    text-align: left;
    
    z-index: 1;
}
info-tag.l::before {
    right: -10px;

}
info-tag.r::before {
    left: -10px;
}
info-tag::after {
    display: none;
    content: "";
    border-top: 1px solid var(--defaultGray);
    border-left: 1px solid var(--defaultGray);
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    transform: rotate(45deg);
    z-index: 2;
}


@media (max-width: 768px) {

    .mobile {
        display: flex !important;
    }
    .main-container {
        padding: 10px;
    }
}
@media (max-width: 500px) {
    info-tag::before {
        width: auto;
    }

}