.tw-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    justify-content: center;
    align-items: center;
    display: flex;
}
.tw-modal.close {
    display: none;
}
.tw-modal.open {
    display: flex;
    animation: in 0.5s;
}
.tw-modal-filter {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.16);
    cursor: pointer;
    z-index: 1;

}
.tw-modal-body {
    width: 100%;
    max-width: 900px;
    height: 500px;
    background-color: white;
    z-index: 2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.tw-modal-body-top {
    height: 10%;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
}
.tw-modal-body-top .tw-close-modal{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.tw-modal-body-content {
    height: 90%;
    width: 100%;
    display: flex;
}
.tw-modal-body-content form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.tw-modal-form-inputs label {
    display: flex;
    flex-direction: column;
    max-height: 65px;
    width: 400px;
    white-space: nowrap;
}
.tw-modal-body-content form label input, .tw-modal-body-content form label select {
    width: 100%;
    border: 1px solid #707070;
    border-radius: 5px;
    height: 40px;
    outline: none;
    padding: 0 10px
}
.modal-checkbox-label {
    flex-direction: row !important;
    align-items: center;
    width: 100% !important;
    padding-right: 50%;
}
.modal-checkbox-label input {
    width: auto !important;
    height: 18px !important;
    margin: 0 10px;
}

.tw-modal-form-inputs {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-between;
}
.tw-modal-form-buttons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 40px;
}
.tw-modal-form-buttons button {
    margin-left: 10px;
}

@keyframes in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
