mural-header {
  padding: 50px 50px 10px 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

mural {
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
}

post-it {
  background-color: #fbae3c;
  display: flex;
  min-height: 200px;
  width: 250px;
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
}
post-it.med {
  background-color: #fbae3c;
  color: black;
}
post-it.low {
  background-color: #309ae6;
  color: black;
}
post-it.high {
  background-color: #e02423;
  color: white;
}

post-it-header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
post-it-header select {
  height: 30px;
  background-color: transparent;
  border: none;
}
post-it-header pt-delete {
  cursor: pointer;
  color: rgb(255, 74, 74);
  font-weight: bold;
}

post-it-content {
  width: 100%;
  height: 100%;
  padding: 20px;
}


@media (max-width: 800px) {
  mural {
    padding: 50px 10px;
  }
}
