tarefas-header {
  padding: 50px 50px 10px 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header-items {
  display: flex;

}
.nova-tarefa {
  padding: 5px 10px;
  border: 2px solid var(--primary);
  border-radius: 50px;
  background-color: transparent;
}
tarefas {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 50px;
  flex-wrap: wrap;
}

tarefa-item {
  width: 300px;
  height: 200px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

item-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 10px;
  font-weight: bold;
}

item-delete {
  color: red;
  cursor: pointer;
}
item-description {
  height: 100%;
  padding: 10px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
item-objectives {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  border-top: 1px solid rgba(0,0,0,0.3);

}

.input-pg {
  width: 300px;
  border: 1px solid #707070;
  border-radius: 50px;
  height: 40px;
  outline: none;
  padding: 0 10px;
  margin-right: 20px;
}

@media (max-width: 800px) {
  tarefas {
    padding: 50px 10px;
  }
}

